<div style="background: #3A4B55; font-family: sans-serif; padding: 20px 0px; width:100%; height: 100%">
  <div style="width:300px; padding-bottom: 5px; padding-left: 20px;">
    <img src="https://digitaltoolsmss.library.utoronto.ca/sites/digitaltoolsmss-edit.library.utoronto.ca/files/viscoll.png" width="100%" />
  </div>
  <hr style="border: 1px solid #4ED6CB;" />

  <div style="padding-top: 10px; padding-left: 20px;">
    <p>Hello Admin,</p>
    <p>The following user has requested to join VisColl. You can confirm the account through the link below.</p>
    <p>Once successfully confirmed, the user will be notified by email.</p>
  </div>

  <div style="padding-top: 10px; padding-left: 20px;">
    <p>Name: <%= @user.name %> </p>
    <p>Email: <%= @user.email %></p>
    <br/>
    <p><%= link_to 'Confirm Account', @confirmation_url.html_safe, {:style => 'color: #4ED6CB'} %></p>
  </div>
</div>