.fourOhFour {
  width: 100vw;
  height: 100vh;
  background: $bg_blue;
  display: flex;
  align-items: center;
  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -10%;
    h1 {
      font-size: 8em;
      color: $white;
      padding-bottom: 0;
      margin-bottom: 10px;
    }
    p {
      color: $white;
      margin-bottom: 30px;
    }
  }
}