.imageManager {
  .form {
    .row {
      display: flex;
      .label {
        padding-top:1em;
        min-width: 120px;
      }
      .input {
        flex-grow: 1;
      }
    }
  }
  .manageManifests {
    padding: 0em 2em;
    .manifestCard {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 1.5em 1.5em 1em 1.5em;
      font-size: 1.1em;
      font-weight: 500;
      span {
        font-size: 0.8em;
        font-weight: normal;
        color: transparentize($black, 0.2);
      }
      &>div {
        flex-grow: 1;
      }
      .thumbnails {
        text-align: right;
      }
    }
  }
  .imageMapper {
    .draggableItem {
      height: 50px;
      background: $white;
      border-width: 0px 1px 0px 1px;
      border-style: solid;
      border-color: $gray;
      cursor: pointer;
      @include border-radius(3px);
      padding-left: 0.5em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .text {
        color: $black;
        padding-left: 0.5em;
        &>span {
          font-size: 0.8em;
          color: transparentize($black, 0.3);
        }
      }
      .thumbnail {
        opacity: 0.5;
        @include transition(all, 200ms, ease-in-out);
        
        &:hover {
          opacity: 1;
          cursor: pointer;
        }
      }
    }

    .middleBar {
      display: flex;
      justify-content: space-around;
      background: $white;
      margin: 0.5em 1em;
      padding: 0.2em 0em;
    }

    .panelBar {
      background: $white;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 2px solid $gray;
      height: 40px;
      .title {
        padding-left: 1em;
        text-transform: uppercase;
        color: $black;
        font-weight: bold;
      }
      .action {
        padding-right: 0.5em;
      }
    }
    .topPanel {
      flex-grow: 2;
      display: flex;
      flex-direction: column;
      width: 97%;
      margin-top: 1em;
      margin-left: 1em;
      background: darken($gray, 3);
      color: $black;
      &>div {
        // display: block;
        width: 100%;
        height: 100%;
        margin: 0em;
        // padding: 0.5em;
      }
      .boards {
        display: flex;
        width: 100%;
        overflow-y: auto;
        &>div {
          width: 50%;
        }
      }
      .binText {
        text-transform: uppercase;
        text-align: center;
        display:flex;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        height: 38vh;
      }
    }
    .bottomPanel {
      flex-grow: 2;
      display: flex;
      justify-content: space-between; 
      width: 97%;
      // height: 42vh;
      margin-left: 1em;
      .backlog {
        width: 49%;
        padding: 0em;
        
        .scrollable {
          overflow-y: auto;
        }
      }
      .sideBacklog {
        @extend .backlog;
        .scrollable {
          text-align: left;
          height: 32vh;
        }
      }
      .imageBacklog {
        @extend .backlog;
        height: 37vh;
        .manifestSelection {
          // background: teal;
          height: 40px;
          padding: 0em 1em;
          display: flex;
          justify-content: space-evenly;
          border-bottom: 2px solid $gray;
          background: $white;
          
          .title {
            width:70px;
            padding-top: 10px;
            padding-right: 10px;
            color: $black;
          }
          .form {
            flex-grow: 1;
            // background: green;
          }
        }
        .scrollable {
          height: 27vh;
        }
      }
    }
    .mainToolbar {
      // position: fixed;
      // bottom: 0;
      margin-top: 0.5em;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: $white;
      @include box-shadow(0px 2px 2px 0px rgba(0,0,0,0.05));
      .message {
        padding-left: 1em;
        text-transform: uppercase;
        color: $black;
        font-size: 0.9em;
      }
      .actions {
        padding-right:1em;
      }
    }
  }
}