.infoBox {
  position: fixed;
  display: inline-block;
  width: 22%;
  vertical-align:top;
  right: 0;
  top: 56px;
  background: white;
  max-height: 90%;
  overflow-y: auto;
  margin: 2% 2% 0% 0%;
  @include box-shadow(0px 2px 10px 0px rgba(0,0,0,0.1));

  .inner {
    padding: 10px 20px 15px 20px;
    @media screen and (max-width: $small) {
      padding: 5px 15px 7px 15px;
    }
    @media screen and (max-width: $xsmall) {
      padding: 5px 10px 7px 10px;
    }

    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
    .label {
      width: 35%;
    }
    .input {
      width: 55%;
      @media screen and (max-width: $xsmall) {
        width: 50%;
      }
    }
  }
  button.image {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    & + button {
      margin-left: 0.5em;
    }
    overflow: none;
    max-width: 40%;
  }
  button.image {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 1em;
    & + button {
      margin-left: 0.5em;
    }
    overflow: none;
    max-width: 40%;
  }
}
