.landing {
  width: 100vw;
  height: 100vh;
  background: $bg_blue2;
    text-align: center;
  
  .container {
    margin: 0 auto;
    width: 80vw;
    height: 90vh;
    display: flex;
    align-items: center;
    align-content: center;
  }

  img {
    width: 100%;
  }

  .panelLogo {
    width: 55%;
  }

  .panelLogin {
    width: 40%;
    padding-left: 5%;
  }

  .panelBottom {
    display: table;
    width: 100%;
    height:10vh;
    background: $teal;

    div {
      display: table-cell;
      vertical-align: middle;
    }

    span:first-child {
      font-weight: bold;
    }

    span {
      color: #2b4352;
      font-size: 1.1em;
      display: block;
      margin-bottom: .5em;
    }
  }

  hr {
    border: 1px solid $teal;
  }

  .spacingBottom {
    margin-bottom: 1.5em;
  }

  .spacingTop {
    margin-top: 1.5em;
  }

  p {
    color: $teal;
  }

  a {
    color: $teal;
    cursor: pointer;
    text-decoration: underline;

    &:hover {
      color: lighten($teal, 20%);
    }
  }
}
