.notesManager {
  height: 100%;
  .container {
    padding: 1em 2em 0em 2em;
  }

  .browse {
    height: 100%;
    .notesList {
      text-align: center;
      .item {
        margin: 0.5em 0em 0em 0em;
        overflow: hidden;
        @include transition(background, 200ms, ease-in-out);
      }
    }
    .details {
      position: relative;
      width: 63%;
    }
  }
  .noteType {
    padding: 1em 2em;
    .items {
      display: flex;
      flex-wrap: wrap;
    }
    .item {
      width: 220px;
      margin-right: 1em;
    }
    .create {
      display: flex;
      margin-bottom: 2em;
      .input {
        margin-right: 1em;
      }
    }
  }
}
.notesInfobox {
  display: flex;
  flex-wrap: wrap;
}
.noteSearch {
  height: 56px;
  @media screen and (max-width: 890px) {
    width: 170px;
  }

  .searchTextbox {
    padding-top: 5px;
  }
}
.searchOptions {
  visibility: hidden;
  opacity: 0;
  background: $white;
  width: 200px;
  @include border-radius(0px 0px 6px 6px);
  @include transition(all, 200ms, ease-in-out);

  @media screen and (max-width: 890px) {
    width: 140px;
  }

  padding: 0em 1em;
  &.active{
    visibility: visible;
    opacity: 1;
  }
}
.noteForm {
  width: 100%;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .label {
    padding-top:1em;
    width: 20%;
    @media screen and (max-width: $xsmall) {
      font-size: 0.8em;
    }
  }
  .input {
    width: 80%;
    @media screen and (max-width: $xsmall) {
      padding-left: 5%;
      width: 75%;
    }
    .textOnly {
      margin-top: 1em;
      color: $black;
    }
  }
  .buttons {
    text-align: right;
    width: 100%;
    padding-top: 2em;
  }
  .objectAttachments {
    width: 100%;
  }
}