.sidebar {
  position: fixed;
  display: block;
  top: 55px;
  width: 18%;
  height: calc(100% - 55px);
  background: $bg_blue;
  opacity: 1;
  @include transition(all, 200ms, ease-in-out);
  overflow-y: auto;
  z-index: 2200;

  &.lowerZIndex {
    z-index: inherit;
  }

  &.hidden {
    opacity: 0;
  }
  hr {
    border: 1px solid $teal;
    margin: 0;
  }
  h1 {
    text-transform: uppercase;
    color: $white;
    font-size: 1em;
    font-weight: 600;
  }
  h2 {
    color: $white;
    font-size: 0.8em;
    font-weight: lighter;
    padding: 1em 0em;
    margin: 0em;
    text-transform: uppercase;
    &:nth-child(1) {
      padding-top: 0em;
    }
    @media screen and (max-width: $xsmall) {
      font-size: 0.7em;
    }
  }
  .panel {
    .header {
      padding: 0.5em 1em;
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: $xsmall) {
        font-size: 0.85em;
      }
    }
    .content {
      padding: 1em;
      background: transparentize($fg_blue, 0.8);
      &.hidden {
        display: none;
      }
    }
    &:last-child {
      margin-bottom: 50px;
    }
  }
  .selectMode {
    padding: 1em 1em 2em 1em;
    text-align: center;
    
    span {
      font-size: 13px;
      color: $teal;
      text-transform: uppercase;
    }
    .tip {
      font-size: 0.8em;
      color: $gray;
      text-align: left;
      line-height: 1.5em;
    }
    .close {
      text-align: right;
      margin-right: -10px;
      margin-top: -10px;
    }
    background: darken($bg_blue, 3%);
  }

  .navigation {
    text-align: center;
    margin: 0px;
    text-transform: uppercase;
    @include transition(all, 100ms, ease-in-out);
    width: 100%;
    border: 0;
    background: none;
    color: $white;
    font-size: 1em;
    &:hover {
      background: transparentize($teal,0.90);
      font-weight: bold;
    }
    &.active {
      background: $teal;
      font-weight: bold;
      color: $black;
    }
  }
  .manager {
    @extend .navigation;
    padding: 0.5em 0em;
    @media screen and (max-width: $xsmall) {
      font-size: 0.8em;
    }
  }
  .dashboard {
    @extend .navigation;
    text-transform: none;
    padding: 0.75em 0em;
    &:hover {
      background: transparentize($white,0.95);
    }
    &.active {
      background: transparentize($white, 0.9);
      font-weight: bold;
      color: $white;
    }
    @media screen and (max-width: $xsmall) {
      font-size: 0.8em;
    } 
  }
  
  .export {
      line-height: 45px;
  }
}

.feedback {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 18%;
  z-index:10000;
  text-align: center;
}

.editIcon {
  @include transition(all, 200ms, ease-in-out);
  background: #BABABA !important;
  &:hover {
    background: #A5A5A5 !important;
    cursor: pointer;
  }
}