.termsManager {
  height: 100%;
  .container {
    padding: 1em 2em 0em 2em;
  }

  .browse {
    height: 100%;
    .termsList {
      .item {
        margin: 0.5em 0em 0em 0em;
        overflow: hidden;
        @include transition(background, 200ms, ease-in-out);
        width: 90%;
        font-size: 1em;
        background: $gray;
        border: 0px;
        @include box-shadow(0px 0px 5px 0px rgba(0, 0, 0, 0.2));
        &:hover {
          cursor: pointer;
          background: $white;
        }
        .title {
          padding-top: 10px;
          font-weight: 500;
          color: $black;
        }
        .taxonomy {
          padding-top: 5px;
          padding-bottom: 10px;
          color: $dark_gray;
          font-style: italic;
          font-size: 0.9em;
        }
        &.active {
          background: $teal;
        }
      }
      position: fixed;
      top: 56px;
      left: 18%;
      width: 300px;
      height: calc(100% - 56px);
      overflow-y: auto;
      text-align: center;
      background: darken($gray, 5%);
    }
    .details {
      position: relative;
      width: calc(100% - 320px);
      left: 300px;
    }
  }
  .taxonomy {
    padding: 1em 2em;
    .items {
      display: flex;
      flex-wrap: wrap;
    }
    .item {
      width: 220px;
      margin-right: 1em;
    }
    .create {
      display: flex;
      margin-bottom: 2em;
      .input {
        margin-right: 1em;
      }
    }
  }
}
.termsInfobox {
  display: flex;
  flex-wrap: wrap;
}
.termSearch {
  height: 56px;
  @media screen and (max-width: 890px) {
    width: 170px;
  }

  .searchTextbox {
    padding-top: 5px;
  }
}
.searchOptions {
  visibility: hidden;
  opacity: 0;
  background: $white;
  width: 200px;
  @include border-radius(0px 0px 6px 6px);
  @include transition(all, 200ms, ease-in-out);

  @media screen and (max-width: 890px) {
    width: 140px;
  }

  padding: 0em 1em;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}
.termForm {
  width: 100%;
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  .label {
    padding-top: 1em;
    width: 20%;
    @media screen and (max-width: $xsmall) {
      font-size: 0.8em;
    }
  }
  .input {
    width: 80%;
    @media screen and (max-width: $xsmall) {
      padding-left: 5%;
      width: 75%;
    }
    .textOnly {
      margin-top: 1em;
      color: $black;
    }
  }
  .buttons {
    text-align: right;
    width: 100%;
    padding-top: 2em;
  }
  .objectAttachments {
    width: 100%;
  }
}
