.workspace {
  position: absolute;
  left: 18%;
  top: 56px;
}
.projectWorkspace {
  @extend .workspace;
  width: 54%;
  margin: 2%;
  .viewingMode {
    display: flex;
    & > div:first-child {
      margin-top: 4px;
    }
    & > div:nth-child(2) {
      margin-top: 14px;
    }
  }
}
.dashboardWorkspace {
  @extend .workspace;
  width: 82%;
  @include transition(all, 450ms, cubic-bezier(0.23, 1, 0.32, 1));

  &.projectPanelOpen {
    width: 70%;
  }
}
.termsWorkspace,
.imageWorkspace {
  @extend .workspace;
  width: 82%;
}
