.addDialog {

  .title {
    color: $black;

  }
  h3 {
    border-bottom: 1px solid #ddd;
  }

  h4 {
    color: $black;
    margin-top: 2em;
    margin-bottom: 0em;
    font-weight:600;
  }

  .label {
    width: 200px;
    display:inline-block;
  }
  .input {
    width: 200px;
    display:inline-block;
    text-align: right;
  }
}
.feedbackDialog {
  p {
    color: $black;
  }
  .label {
    color: $black;
    width: 100px;
    display:inline-block;
    vertical-align: top;
  }
  .input {
    width: 250px;
    display:inline-block;
    text-align: right;
  }
}
.newProjectDialog {
  p {
    color: $black;
  }
  h1 {
    font-weight: normal;
    text-transform: inherit;
  }
  h3 {
    font-size: 1em;
    margin-top: 0em;
  }
  .section {
    margin-left: 1em;
  }
  .newProjectSelection {
    button.btnSelection {
      width: 100%;
      background: $white;
      border: 0;
      @include box-shadow(0px 2px 10px 0px rgba(0,0,0,0.2));
      margin-bottom: 1em;
      outline: 0;

      &:focus, &:hover {
        outline-style: solid;
        outline-width: 0.5em;
        outline-color: transparentize($teal, 0.5); 
        cursor: pointer;
      }     
    }
    .selectItem {
      display: flex;
      padding: 2.5em 0em;
      
      .icon {
        width: 50px;
        padding:0px 15px;
      }
      .text {
        line-height: 2.5em;
        span:nth-child(1) {
          text-align: left;
          font-size: 2.5em;
          display: block;
          color: $black;
          width: 100%;
        }
        span:nth-child(2) {
          font-size: 1.3em;
          color: lighten($black, 15);
          width: 100%;
          display: block;
        }
      }
    }
  }
}